# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:



1.   Python
2.   R
3.   Julia
4.   JavaScript

Some of the commonly used libraries used by Data Scientists include:


1.   NumPy.
2.   Matplotlib.
3.   Pandas.
4.   SciPy.
5.   PyTorch.

Data Science Tools

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Apache Zeppelin             |

Below are a few examples of evaluating arithmetic expressions in Python.
### New Section

In [8]:
### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
hours

3.3333333333333335

Objectives:

*   Python
*   R
*   SQL
*   Julia

# Author
Sai K